<div class="jumbotron">
    <h1>STS Test singing service</h1>
    <p class="lead">API path: /api/SecurityTokenServiceTestSigning</p>
    <p class="lead">API documentation: <a href="~/swagger/">interactive documentation</a></p>
</div>